@import '../../theme';

.component {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

@keyframes pulse {
  0% { opacity: 1; }
  35% { opacity: 0.25; }
}

.stateIdle { background: var(--color-3-2); }

.stateInitiating {
  background: var(--color-3-2);
  animation: pulse 2s infinite;
}

.stateActive { background: var(--color-3-1); }

.stateLoading {
  background: var(--color-3-1);
  animation: pulse 2s infinite;
}

.stateError { background: var(--color-3-3); }
