@import '../../theme';

.component {
  @include font-size(small);
  @include font-weight(medium);
  @include font-color(primary2);
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: var(--color-primary-1);
  cursor: pointer;

  &:hover { opacity: 0.9; }
  &:disabled { opacity: 0.2; }
}