:root {
  --color-1-1: rgba(183, 158, 242, 1);
  --color-1-2: rgba(255, 253, 209, 1);
  --color-2-1: rgba(24, 24, 32, 1);
  --color-2-2: rgba(26, 27, 36, 1);
  --color-3-1: rgba(97, 226, 148, 1);
  --color-3-2: rgba(226, 183, 76, 1);
  --color-3-3: rgba(255, 96, 96, 1);
  --color-0-1: rgba(0, 0, 0, 1);
  --color-0-2: rgba(0, 0, 0, 0.5);
  --color-0-3: rgba(0, 0, 0, 0.25);
  --color-0-4: rgba(0, 0, 0, 0.1);
  --color-0-5: rgba(0, 0, 0, 0.05);
  --color-0-6: rgba(255, 255, 255, 0.01);
  --color-0-7: rgba(255, 255, 255, 0.05);
  --color-0-8: rgba(255, 255, 255, 0.1);
  --color-0-9: rgba(255, 255, 255, 0.5);
  --color-0-10: rgba(255, 255, 255, 1);
}
