:root {
  // --color-1-1: rgba(227, 191, 99, 1);
  // --color-1-2: rgba(159, 194, 208, 1);
  // --color-2-1: rgba(21, 25, 53, 1);
  // --color-2-2: rgba(34, 38, 67, 1);
  --color-3-1: rgba(97, 226, 148, 1);
  --color-3-2: rgba(226, 183, 76, 1);
  --color-3-3: rgba(255, 96, 96, 1);
  --color-4-1: rgba(154, 112, 255, 1);
  --color-4-2: rgba(255, 182, 0, 1);
  --color-4-3: rgba(255, 64, 31, 1);
  --color-4-4: rgba(192, 22, 57, 1);
  --color-0-1: rgba(0, 0, 0, 1);
  --color-0-2: rgba(0, 0, 0, 0.5);
  --color-0-3: rgba(0, 0, 0, 0.1);
  --color-0-4: rgba(0, 0, 0, 0.05);
  --color-0-5: rgba(0, 0, 0, 0.01);
  --color-0-6: rgba(0, 0, 0, 0);
  --color-0-7: rgba(255, 255, 255, 0);
  --color-0-8: rgba(255, 255, 255, 0.01);
  --color-0-9: rgba(255, 255, 255, 0.05);
  --color-0-10: rgba(255, 255, 255, 0.1);
  --color-0-11: rgba(255, 255, 255, 0.5);
  --color-0-12: rgba(255, 255, 255, 1);
}
