:root {
  --color-primary-1: rgba(23, 24, 33, 1);
  --color-primary-2: rgb(183, 158, 242, 1);
  --color-primary-3: rgba(200, 162, 200, 1);
  --color-secondary-1: rgba(97, 226, 148, 1);
  --color-secondary-2: rgba(226, 183, 76, 1);
  --color-secondary-3: rgba(255, 96, 96, 1);
  --color-gray-1: rgba(0, 0, 0, 1);
  --color-gray-2: rgba(0, 0, 0, 0.5);
  --color-gray-3: rgba(0, 0, 0, 0.2);
  --color-gray-4: rgba(0, 0, 0, 0.1);
  --color-gray-5: rgba(0, 0, 0, 0.05);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-primary-1);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

a { text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

::placeholder {
  color: var(--color-primary-2);
  opacity: 1;
}