body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-2-1);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

a { text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

::placeholder { opacity: 1; }
