@import './theme';

.app {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(0, 80rem) 1fr;
  grid-template-rows: 1.5rem 1fr 1.5rem;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;

  .configuration {
    position: absolute;
    margin: 1rem;
    
    .configurationView {
      display: grid;
      row-gap: 1.25rem;
      width: 20rem;
      margin-top: 0.25rem;
      padding: 1rem 1.25rem 1.25rem 1.25rem;
      border: 1px solid var(--color-0-9);
      border-radius: 0.5rem;
      background: var(--color-2-2);

      .themeSelector {
        display: grid;
        grid-template-columns: 1fr repeat(4, auto);
        column-gap: 0.5rem;
        align-items: center;

        .themeLabel {
          @include font-size(tiny);
          @include font-weight(bold);
          @include font-color(gray1);
          text-transform: uppercase;
        }

        .theme {
          width: 1.5rem;
          height: 1.5rem;
          border: 2px solid var(--color-2-2);
          border-radius: 50%;
          cursor: pointer;
        }

        .themeStateSelected { box-shadow: 0 0 0 2px var(--color-0-11); }
        
        #theme1 { background: var(--color-4-1); }
        #theme2 { background: var(--color-4-2); }
        #theme3 { background: var(--color-4-3); }
        #theme4 { background: var(--color-4-4); }
      }
    }
  }
  
  .userMessageForm, .assistantResponse {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    align-self: center;
  }

  .assistantResponse {
    @include font-size(large);
    @include font-weight(bold);
    @include font-color(primary1);
  }
  
  .audioControlsPlay { cursor: url('./assets/img_cursor_play.svg') 32 32, auto; }
  
  @keyframes inputLoading {
    from { opacity: 1; }
    to { opacity: 0.25; }
  }

  .inputStateLoading { animation: 1s ease-in-out infinite alternate inputLoading; }

  .pulse {
    @include font-size(tiny);
    @include font-color(gray1);
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-self: end;
    display: inherit;
    grid-auto-flow: column;
    column-gap: 0.5rem;
    justify-content: start;
    align-items: center;
  }

  .github {
    grid-column: 3 / -1;
    grid-row: 3 / 4;
    justify-self: end;
  }
}
